@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700;900&display=swap");
@import "tailwindcss";

@theme {
  --font-mono: "Azeret Mono", monospace;
}

body {
  font-family: "Azeret Mono", monospace;
}

@keyframes smooth-shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}